<ion-view title="Sign Up" id="page8" style="background-image: url('img/bg.png');
    background-repeat: repeat;">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <form class="list">
            <ion-list>
                <label class="item item-input">
                    <span class="input-label">Name</span>
                    <input type="text" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="">
                </label>
                <label class="item item-input">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="">
                </label>
            </ion-list>
            <button id="signUp-button3" class="button button-positive  button-block">Sign up</button>
        </form>
    </ion-content>
</ion-view>